* {
    box-sizing: border-box;
}
  
body {
    background-color: #c5ecf5;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}


.registration-form{
	width: 800px;
    margin: 10px auto;
}

#country {
    width: 300px;
    margin-left: 250px;
}
#message{
    width: 300px;
    margin-left: 5px;
    color: red;
}